<div class="text-center">
    <h1 class="display-4">Portafolio de VinKE</h1>


   <h2>Desarrrollador Front-End especializado en tecnologias Js, React</h2>

    <img
       id="foto"
       src="~/imagenes/1366_2000.jpg" alt="foto de perfil"/>

</div>
<div class="text-center">
    <img id="imagen-dotnet" src="/Imagenes/dotnet-imagen-2.png"/>
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi Portafolio
        </h1>
        <p>
            Me desempeño como desarrollador front-end desde el 2021, cree varias paginas web dinamicas con html5, css, bootstrap, sass.
            Desarrolle aplicaciones con React, Node, Mongodb.
             Me desempeño como desarrollador front-end desde el 2021, cree varias paginas web dinamicas con html5, css, bootstrap, sass.
            Desarrolle aplicaciones con React, Node, Mongodb.
             Me desempeño como desarrollador front-end desde el 2021, cree varias paginas web dinamicas con html5, css, bootstrap, sass.
            Desarrolle aplicaciones con React, Node, Mongodb.

        </p>
    </div>
</div>