@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Presentacion" />
<partial name="_Habilidades" />

@if (Model.Proyectos is not null) 
{
    <div class="text-center" style="padding-top: 6rem">
        <h1>Mis trabajos recientes</h1>
        <p>Aca podes ver algunos de mis  trabajos mas recientes</p>

    </div>

    <div>


                        
                    </div>
                </div>
            }
        </div>
    </div>

    
}